html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;

}
body{
    background: #ebebeb;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(243,251,250,1) 18%, rgba(194,238,247,1) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(243,251,250,1) 18%);
    height: 100vh;
}
.title{
    text-align: center;
    color: black;
    font-family: 'fangsong';
    font-weight: bolder;
    font-size: xx-large;
    padding-top: 5%;
    padding: 20px;
}

 
.calculator{
    margin: auto;
    border-radius: 5%;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 19px;
    width: fit-content;
    padding:0px;
    top: 10vh;
    position: relative;
    padding: 8px;
    box-shadow: 7px 9px 16px rgb(34, 33, 33);
}
@media only screen and (min-width: 600px) {
    .calculator{
    
    padding: 20px;
    }
 }
.display{
    height: 3rem;
    width: 95%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: black;
    background-color: white;
    font-weight: 900;
    font-size: x-large;
    font-family: inherit;
    text-align: end;
}
.keys{
    text-align: center;
    padding-top: 1rem;
}
.row{
    /* height: 5rem; */
    padding:5px 0;
}
button{

    border-radius: 48%;
    font-weight: bold;
    color:black;;
    border-radius: 8%;
    font-weight: bold;
    border: hsl(190, 7%, 82%) 1px solid;
    background-color: white ;
    box-shadow: 1px 1px 6px rgb(34 33 33);
    margin: 0px 2px;
    font-size: 22px;
    font-weight: 300;
    min-width: 90px;
    padding: 9px 0;
}
@media only screen and (max-width: 400px) {
    button{
        width: 4.8rem;
        min-width: 86px;
    }
 }
button:hover{
    cursor: pointer;
   
}
.operator{
    background-color: #d8e3ee;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(229,242,240,1) 4%);
}
#equals{
    background-color: #2957c2; 
    color: white;
}
/* .clear{
    /* color: white; */

